.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
*.o
*.so
*.DS_Store
*.Rproj
*.sh
*.log
*.html
docs
src/macpan2.dll
visnet_files
covr_trace_*
lib
macpan2*
!macpan2.bib
*~
/doc/
/Meta/
/*.pdf
/*.ps
/*.png
/*.dot
/*.txt
/*.out
/*.profile
/*.cpp
*.rds
*_cache
*_files
\#*
.#*
