.Rproj.user
.Rhistory
.RData
.Ruserdata
.vscode
inst/doc
hoard
*.o
*.so
*.DS_Store
*.Rproj
*.sh
*.log
*.html
docs
src/macpan2.dll
visnet_files
covr_trace_*
lib
macpan2*
!macpan2.bib
*~
/doc/
/Meta/
/*.pdf
/*.ps
/*.png
/*.dot
/*.txt
/*.out
/*.profile
/*.cpp
*.rds
*_cache
*_files
\#*
.#*
doc-update
pkg-build
pkg-check


inst/starter_models/awareness/pub.R
inst/starter_models/lockdowns/
inst/starter_models/si_partnerships_sti/
